<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AA Metal Scrap</title>

    <link
rel="preload"
as="image"
href="/static/images/metal1-1600.webp">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet"/>
        <link rel="stylesheet" href="/static/css/style.css"/>

</head>

<body>
    {% block header %}{% endblock header %}
    {% block hero %}{% endblock hero %}
     {% block products %}{% endblock products %}

     {% block conpany_detail %}{% endblock conpany_detail %}

     {% block footer %}{% endblock footer %}







        

</body>

</html>