    <!-- ================= FOOTER ================= -->

<footer class="footer">

    <div class="footer-container">

        <!-- COMPANY INFO -->

        <div class="footer-box">

            <h3>Thai Metals Recycling Ltd</h3>

            <p>
                9/1 Moo 2,
                <br>
                Khlong-7,
                <br>
                subdistrict - Khlong
                <br>
                District - Pathum Thani
                <br>
                Thailand.
            </p>

            <p class="footer-contact">
                Tel : (+66) 637234464,
                Mobile :  (+66) 637234464,
            </p>

            

        </div>

        <!-- ACHIEVEMENTS -->

        <div class="footer-box">

            <h4>Our Achievements</h4>

            <a href="/achievements">
                Our Achievements
            </a>

        </div>

        <!-- PRODUCTS -->

        <div class="footer-box">

            <h4>Products</h4>

            <a href="/ferrous">
                Ferrous Scrap
            </a>

            <a href="/nonferrous">
                Nonferrous Scrap
            </a>

        </div>

        <!-- COMPANY -->

        <div class="footer-box">

            <h4>Company</h4>

            <a href="/about">
                About
            </a>

            <a href="/contact">
                Contact Us
            </a>

            <a href="#">
                Products
            </a>

        </div>

    </div>

    <!-- COPYRIGHT -->

    <div class="footer-bottom">

        <p>
            Copyright © 2026 THAI METALS RECYCLING LTD
        </p>

        <p>
            Powered by
        </p>

    </div>

</footer>

    <!-- ================= JAVASCRIPT ================= -->