    <!-- ================= FOOTER ================= -->

<footer class="footer">

    <div class="footer-container">

        <!-- COMPANY INFO -->

        <div class="footer-box">

            <h3>AA Metal Scrap Co., Ltd</h3>

            <p>
                98 Anamai Ngamcharoen Rd,
                <br>
                Rama II 47, Thakham,
                <br>
                Bangkhunthian, Bangkok 10150
                <br>
                Thailand.
            </p>

            <p class="footer-contact">
                Tel : (+66) 451 1126,
                Mobile : (+66)81 807-6544
            </p>

            <p class="footer-contact">
                Fax : (+66)2 451 1127
            </p>

            <p class="footer-contact">
                aametal08@gmail.com
            </p>

        </div>

        <!-- ACHIEVEMENTS -->

        <div class="footer-box">

            <h4>Our Achievements</h4>

            <a href="/achievements">
                Our Achievements
            </a>

        </div>

        <!-- PRODUCTS -->

        <div class="footer-box">

            <h4>Products</h4>

            <a href="/ferrous">
                Ferrous Scrap
            </a>

            <a href="/nonferrous">
                Nonferrous Scrap
            </a>

        </div>

        <!-- COMPANY -->

        <div class="footer-box">

            <h4>Company</h4>

            <a href="/about">
                About
            </a>

            <a href="/contact">
                Contact Us
            </a>

            <a href="#">
                Products
            </a>

        </div>

    </div>

    <!-- COPYRIGHT -->

    <div class="footer-bottom">

        <p>
            Copyright © 2023 AA METAL SCRAP COMPANY LIMITED
        </p>

        <p>
            Powered by
        </p>

    </div>

</footer>

    <!-- ================= JAVASCRIPT ================= -->