 <!-- ================= HEADER ================= -->

    <header class="header">

        <!-- LOGO -->

        <div class="logo">

           

            <h2>MUBA EXPORTS</h2>

        </div>

        <!-- NAVBAR -->

        <nav class="navbar">

           

            <a href="/">About</a>

            <!-- DROPDOWN -->

            <div class="dropdown">

                <a href="#" class="dropbtn">
                    Products ▾
                </a>

                <div class="dropdown-content">

                    <a href="/ferrous">
                        Ferrous Scrap
                    </a>

                    <a href="/nonferrous">
                        Non Ferrous Scrap
                    </a>

                </div>

            </div>

            <a href="/achievements">
                Our Achievements
            </a>

            <a href="/contact">
                Contact
            </a>

        </nav>

    </header>

    <!-- ================= HERO SLIDER ================= -->