<!-- ================= PRODUCTS SECTION ================= -->

    <section class="products-section">

        <span class="product-subtitle">
            Buy & Sell
        </span>

        <h2 class="product-title">
            Products
        </h2>

        <div class="products-container">

            <!-- PRODUCT 1 -->

            <div class="product-card">

                <img src="/static/images/one.jpeg" alt="">

          

            </div>

            <!-- PRODUCT 2 -->

            <div class="product-card">

                <img src="/static/images/two.jpeg" alt="">

               

            </div>

            <!-- PRODUCT 3 -->

            <div class="product-card">

                <img src="/static/images/three.jpeg" alt="">

                

            </div>

            <!-- PRODUCT 4 -->

            <div class="product-card">

                <img src="/static/images/four.jpeg" alt="">

              

            </div>

            <!-- PRODUCT 5 -->

            <div class="product-card">

                <img src="/static/images/five.jpeg" alt="">

           

            </div>

            <!-- PRODUCT 6 -->

            <div class="product-card">

                <img src="/static/images/one.jpeg" alt="">

                

            </div>

        </div>

    </section>

    <!-- ================= FOOTER ================= -->